<!-- Page done by Ryan -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>   
    <script src="/static/jquery-3.4.1.min.js"></script>

    <title>Hotels - {{ title }}</title>
    {% block head %}
    {% endblock %}
</head>

<body>
    <div class="header">
        <h1>Hotels.com</h1>
        <p>Welcome to Hotels</p>
    </div>

    <div class="navbar">
        <a href="/home">Home</a>
        <a href="/register">Register</a> 
        <a href="/about">About Us</a> 
        <a href="/contact">Contact Us</a>
        <a href="/data">Data</a>
        <a href="/hotel_list">View Hotels</a>  
    </div>
    
    {% block body %}
    {% endblock %}    
</body>

<!-- Footer -->
<div class="footer">
    <h2>Contact with us</h2>
    <h5>twitter : hooopy21</h5>
    <h5>Snapchat: hoooopy2</h5>
    <h5>Phone   :0565242924</h5>
    <h5>Email  :hooopy2@gmail.com </h5>    
    <h2>Thank you for visiting our page</h2>
</div>
</html>