<!-- Page done by Ryan -->

{% extends 'layout.html' %}

{% block body %}

<form method="POST" action="/index" onsubmit="return Validate()" name="vform">
	<div class="container">
		<h1>Register</h1>
		<p>Please fill in this form to create an account.</p>
		<hr>
        
        <div id="username_div">
			<label>Username</label> <br>
			<input type="text" name="username" placeholder="Enter Username" class="textInput" required minlength="4">
			<div id="name_error"></div>
        </div>
            
		<div id="email_div">
			<label>Email</label> <br>
			<input type="email" placeholder="Enter Email" name="email" class="textInput" required minlength="4">
			<div id="email_error"></div>
        </div>

		<div id="password_div">
			<label>Password</label> <br>
			<input type="password" name="password" placeholder="Enter Password" class="textInput" required minlenth="7">
		</div>
		<div id="pass_confirm_div">
			<label>Password confirm</label> <br>
			<input type="password" name="password_confirm" placeholder="Confirm Password" class="textInput" required minlength="7">
			<div id="password_error"></div>
		</div>

		<b>I am a:<b>
		<br>
		<form id="genderform">
		<input type="radio" name="gender" value="male" checked> Male
		<input type="radio" name="gender" value="female"> Female
		<input type="radio" name="gender" value="other"> Other  

		<br>
		<br>

		<b>I would like to be addressed as:<b>
		<select id="titleselect">
		<option value="Mr">Mr</option>
		<option value="Mrs">Mrs</option>
		<option value="Sir">Sir</option>
		<option value="Miss">Miss</option>
		</select>
		<br>
		<br>
		<hr>
		<p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
	
		<div>
            <input type="submit" name="register" value="Register" class="btn">
        </div>
	</div>
	<div class="container signin">
		<p>Already have an account? <a href="#">Sign in</a>.</p>
	</div>
</form>
<A href="/index">Back Home </A>

<script>
// Text Elements
var username = document.forms['vform']['username'];
var email = document.forms['vform']['email'];
var password = document.forms['vform']['password'];
var password_confirm = document.forms['vform']['password_confirm'];
// Error Display
var name_error = document.getElementById('name_error');
var email_error = document.getElementById('email_error');
var password_error = document.getElementById('password_error');
// Event Listeners
username.addEventListener('blur', nameVerify, true);
email.addEventListener('blur', emailVerify, true);
password.addEventListener('blur', passwordVerify, true);

//Validation Function
function Validate() {
  if (username.value == "") {
    username.style.border = "1px solid red";
    document.getElementById('username_div').style.color = "red";
    name_error.textContent = "Username is required";
    username.focus();
    return false;
  }

  if (username.value.length < 3) {
    username.style.border = "1px solid red";
    document.getElementById('username_div').style.color = "red";
    name_error.textContent = "Username must be at least 3 characters";
    username.focus();
    return false;
  }

  if (email.value == "") {
    email.style.border = "1px solid red";
    document.getElementById('email_div').style.color = "red";
    email_error.textContent = "Email is required";
    email.focus();
    return false;
  }

  if (password.value == "") {
    password.style.border = "1px solid red";
    document.getElementById('password_div').style.color = "red";
    password_confirm.style.border = "1px solid red";
    password_error.textContent = "Password is required";
    password.focus();
    return false;
  }

  if (password.value != password_confirm.value) {
    password.style.border = "1px solid red";
    document.getElementById('pass_confirm_div').style.color = "red";
    password_confirm.style.border = "1px solid red";
    password_error.innerHTML = "The two passwords do not match";
    return false;
  }
}
// Below are functions for Event Handlers

function nameVerify() {
  if (username.value != "") {
   username.style.border = "1px solid #5e6e66";
   document.getElementById('username_div').style.color = "#5e6e66";
   name_error.innerHTML = "";
   return true;
  }
}
function emailVerify() {
  if (email.value != "") {
  	email.style.border = "1px solid #5e6e66";
  	document.getElementById('email_div').style.color = "#5e6e66";
  	email_error.innerHTML = "";
  	return true;
  }
}
function passwordVerify() {
  if (password.value != "") {
  	password.style.border = "1px solid #5e6e66";
  	document.getElementById('pass_confirm_div').style.color = "#5e6e66";
  	document.getElementById('password_div').style.color = "#5e6e66";
  	password_error.innerHTML = "";
  	return true;
  }
  if (password.value === password_confirm.value) {
  	password.style.border = "1px solid #5e6e66";
  	document.getElementById('pass_confirm_div').style.color = "#5e6e66";
  	password_error.innerHTML = "";
  	return true;
  }
}
</script>
{% endblock %}